<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JARVIS CODING</title>
    <link rel="stylesheet" href="../css/styles.css">

    <style>
        body {
            background-image: url(../assets/images/5bab86fd14c5eb08ebfff2b61e857389.jpg);
        }
    </style>
</head>

<body>
    <header>
        <nav>
            <ul style="list-style: none; padding: 0; text-align: center;">
                <li style="margin-bottom: 10px;">
                    <strong><a href="./galería.html" style="color: #d9d9d9; font-size:x-large;">GALLERY</a></strong>
                </li>
                <li style="margin-bottom: 10px;">
                    <strong><a href="./presupuesto.html" style="color: #d9d9d9; font-size:x-large;">BUDGET</a></strong>
                </li>
                <li style="margin-bottom: 10px;">
                    <strong><a href="./contacto.html" style="color: #d9d9d9; font-size:x-large;">CONTACT</a></strong>
                </li>
                <li>
                    <strong><a href="../index.html" style="color: #d9d9d9; font-size:x-large;"
                            class="active">HOME</a></strong>
                </li>
            </ul>
        </nav>
    </header>

    <div>
        <h1>CONTACT</h1>
        <table>
            <thead>
                <tr>
                    <th><img src="../assets/images/CONTACT/ubicación.png" alt="Location Map"
                            style="margin: 20px; border: #d9d9d9;width: 500px;" width="700" height="700"></th>
                    <td>
                        <div style="text-align: justify;" class="cristal2">
                            <h2>Email: infojarvis@coding.com</h2>
                            <h2>Phone: 684107669</h2>
                            <h2>Address: C/Estación 190, Murcia</h2>
                            <h2>Schedule: 9:00-14:00 / 16:00-20:00</h2>
                        </div>
                    </td>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>

    <br>

    <hr>

    <footer font-family: 'Cenotaph';>
        <p style="color: #d9d9d9;">&copy; 2025 David Jarvis PS . All Ryghts Reserved</p>
        <p style="color: #d9d9d9;">SÍGUENOS EN:</p>
        <a href="https://www.instagram.com/">
            <img src="../assets/images/RSSICONS/Instagram.png" alt="Instagram">
        </a>
        <a href="https://www.facebook.com/login/?next=https%3A%2F%2Fwww.facebook.com%2F%3Flocale%3Des_ES">
            <img src="../assets/images/RSSICONS/Facebook.png" alt="Facebook">
        </a>
        <a
            href="https://es.linkedin.com/?src=go-pa&trk=sem-ga_campid.18146679037_asid.140850334975_crid.694860685343_kw.linkedin_d.c_tid.kwd-148086543_n.g_mt.e_geo.9219124&mcid=6968657504633266178&cid=&gad_source=1&gclid=CjwKCAiAzvC9BhADEiwAEhtlNwWlFTmMZDc2UamSSebk7Boy_cziXTcb61srOlSCtgL56vEDCGfjsBoCT50QAvD_BwE&gclsrc=aw.ds">
            <img src="../assets/images/RSSICONS/Linkedin.png" alt="Linkedin">
        </a>
        <a href="https://www.youtube.com/?app=desktop&hl=es">
            <img src="../assets/images/RSSICONS/YouTube.png" alt="YouTube">
        </a>
        <p style="color: #d9d9d9;">Click para entrar</p>
    </footer>
</body>

</html>